
# python compile files
# ===========
*.pyc

static/*
# Setting and config files
gemtool/settings.py


# Unused templates
# ======================

# Vendor files
# ======================
gemtool/static/vendor/*

# Exception to the rule
!gemtool/static/dist/README.md

# Node and related environment
# ======================
.npmignore
node_modules/
_pycache_/
